* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	font-family: 'Roboto', sans-serif;
	color: #dadada;
	overflow: hidden;
}

html, body {
	height: 100vh;
	width: 100%;
	background: black;
}

article {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	padding: 10px;
}

header, footer {
	max-width: 25%;
    text-align: center;
    padding: 10px;
    background: #000;
    flex-grow: 1;
}

main {
    flex-grow: 4;
    flex-shrink: 0;
}

text {
	fill: #dadada;
	font-size: 10px;
	text-transform: uppercase;
}