* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
	font-family: 'Roboto', sans-serif;
	color: #dadada;
	overflow: hidden;
}

html, body {
	height: 100vh;
	width: 100%;
	background: black;
}

article {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	padding: 10px;
}

header, footer {
	max-width: 25%;
    text-align: center;
    padding: 10px;
    background: #000;
    flex-grow: 1;
}

main {
    flex-grow: 4;
    flex-shrink: 0;
}

text {
	fill: #dadada;
	font-size: 10px;
	text-transform: uppercase;
}

p {
	padding-top: 1em;
}

.tooltip {	
	display: none;
    position: absolute;			
    text-align: left;			
    max-width: 100px;					
    padding: 2px;
    font-size: 10px;			
    background: rgba(0, 0, 0, 0.5);
    border: 1px;		
}

.tooltip p {
	padding: 0px;
}

.tooltip h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 2px;
}